body {
	margin:50px;
	background: url('../../static/images/bg/sedona.jpg');
}

a:focus,a:hover { color: #ee2222; text-decoration: underline; }
a { color: #ee2222;  text-decoration: none; }

h1,h2,h3,h4,h5 {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
}
h1 {
	font-size:5em;
	font-weight:900;
	font-family: 'Sue Ellen Francisco', arial, serif;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}

h1.name {
	margin:50px 0 0 30px;
	text-align:left;
	
}

h3 {
	font-size:1.4em;
	font-family: 'Sue Ellen Francisco', arial, serif;
	text-transform:uppercase;
	font-stretch:extra-condensed;
}

h3.subs {
	margin:10px 0 0 30px;
	text-align:left;
	
}

.score h2 {
	font-size:5em;
	font-weight:900;
	font-family: 'Terminal Dosis Light', arial, serif;
	color:#fff;
	text-shadow: 1px -1px 1px rgba(255, 255, 40, 0.5);
	letter-spacing:-.06em;

}

.header {
	display:block;
	width:100%;
}

ul.top-menu {
	display:block;
	overflow:hidden;
	list-style:none;
}
ul.top-menu li {
	float:left;
}

ul.top-menu li a {
	dislay:block;
	width: 100%;
}

.pic-outer {
	position: relative;
	width:180px;
	min-height: 100px;
	padding: 20px 20px 50px 20px;
	border: 1px solid #efefef;
	background: #fff;
}

.pic-outer:before,
.pic-outer:after {
	content: '';
	z-index: -1;
	position: absolute;
	left: 20px;
	bottom:8px;
	width: 70%;
	max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
	max-height:300px;
	height: 55%;
	-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
	-webkit-transform: skew(-15deg) rotate(-2deg);
	-moz-transform: skew(-15deg) rotate(-2deg);
	-ms-transform: skew(-15deg) rotate(-2deg);
	-o-transform: skew(-15deg) rotate(-2deg);
	transform: skew(-15deg) rotate(-2deg);
}


.pic-outer:after {
	left: auto;
	right: 20px;
	-webkit-transform: skew(15deg) rotate(2deg);
	-moz-transform: skew(15deg) rotate(2deg);
	-ms-transform: skew(15deg) rotate(2deg);
	-o-transform: skew(15deg) rotate(2deg);
	transform: skew(15deg) rotate(2deg);
}	


.pic-inner {
	display:block;
	padding:1px;
	width:180px;
	min-height:10px;
	max-height:240px;
	overflow:hidden;
	box-shadow:inset 0 0 3px rgba(0,0,0,0.7);
}

.pic-inner:after{
  display: block;
  content: "";
  position: absolute; 
  width: 151px;
  height: 35px;
  top: -21px;
  left: 25px;    
  background: transparent url('../../static/images/tape.png') 0 0 no-repeat;
}

.paper {
	position: relative;
	width: 480px;
	height: 240px;
	padding: 0px;
	border: 1px solid #efefef;
	background: #fff;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

}
.paper:before,
.paper:after {
	background: #fefefe;
	border: 1px solid #efefef;
	width: 480px;
	height: 240px;
	content: '';
	z-index: -1;
	position: absolute;
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.paper:before {
	left: -10px;
	bottom:0px;
	-webkit-transform: skew(0deg) rotate(2deg);
	-moz-transform: skew(0deg) rotate(2deg);
	-ms-transform: skew(0deg) rotate(2deg);
	-o-transform: skew(0deg) rotate(2deg);
	transform: skew(0deg) rotate(2deg);
}

.paper:after {
	left: -5px;
	bottom:0px;
	-webkit-transform: skew(0deg) rotate(-3deg);
	-moz-transform: skew(0deg) rotate(-3deg);
	-ms-transform: skew(0deg) rotate(-3deg);
	-o-transform: skew(0deg) rotate(-3deg);
	transform: skew(0deg) rotate(-3deg);
}

.score {

	width:120px;
	border-radius:120px;
	text-align:center;
	position:absolute;
	top:0;
	right:0;

	margin:-30px -75px 0 0;
	*margin: -30px -75px 0 0   !important; /* IE 7 (IE6 also uses this, so put it first) */
   _margin: -30px -75px 0 0    !important; /* IE 6 */
    margin: -30px -75px 0 0\0/ !important; /* IE 8-9 */

	padding:15px 0px;
	*padding: 10px  !important; /* IE 7	*/
   _padding: 10px  !important; /* IE 6 */
    padding: 10px\0/ !important; /* IE 8-9 */


	/* Shadow */
	-webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);

	/* Background */
	background: #FF3300; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2222', endColorstr='#FF2E2E'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ff2222), to(#FF2E2E)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ff2222,  #FF2E2E); /* for firefox 3.6+ */ 

	border:1px double #cc2222;

	/* Rotation */
	-webkit-transform: skew(0deg) rotate(15deg);
	-moz-transform: skew(0deg) rotate(15deg);
	-ms-transform: skew(0deg) rotate(15deg);
	-o-transform: skew(0deg) rotate(15deg);
	transform: skew(0deg) rotate(15deg);

}


.your-score {
	width:95px;
	height:50px;
	
	background:transparent url(../images/arrow-up-right.png) bottom right no-repeat;
	text-align:left;
	position:absolute;
	top:0;
	right:0;
	font-size:1.7em;
	font-variant:small-caps;
	font-family: 'Sue Ellen Francisco', arial, serif;
	color:#ee2222;
	
	margin: 0 50px 0 0;
	*margin: 0 50px 0 0   !important; /* IE 7 (IE6 also uses this, so put it first) */
   _margin: 0 50px 0 0   !important; /* IE 6 */
    margin: 0 50px 0 0\0/ !important; /* IE 8-9 */


}


.folders {
	overflow:hidden;
	margin:30px 0 0 -30px;
	width:100%;
}

ul.tabs {
	list-style:none;
	display:block;
	overflow:hidden;
	font-size:1.5em;
	padding:10px 0 0 50px;
	margin:0;
	height:43px;

}


ul.tabs li {
	display:inline;
	float:left;
	background:rgba(240,215,180,1.0);;
	margin:2px 5px;
	border-radius:4px 4px 0 0;
	height:40px;

	/* Shadow */
	-webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px  -1px 5px rgba(50, 50, 50, 0.3);
	box-shadow: 0px  -1px 5px rgba(50, 50, 50, 0.3);
}
	

ul.tabs li.active {
	height:40px;
	border-bottom: 1px solid #FDF0C2;
	margin:2px 5px;
	z-index:200;
	background:rgba(253,240,194,1.0);

}

ul.tabs li.active:hover {
	top:0px;
	height:43px;

}

ul.tabs li:hover {
	position: relative;
	top:-3px;
	height:43px;

}


ul.tabs li a {
	display:block;
	padding:10px 20px 5px 20px;
	min-width:100px;
	text-align:center;
	text-decoration:none;
	color:#663300;
	text-shadow: -1px 2px 1px rgba(255, 255, 255, .8);
}	

ul.tabs li a:hover {
	text-decoration:none;
	color:#663300;
}




.contents {
	margin:-1px 0 0 0;
	background:rgba(253,240,194,1.0);
	-moz-box-shadow: 1px  5px 7px rgba(50, 50, 50, 0.6);
	box-shadow: 1px  5px 7px rgba(50, 50, 50, 0.6);
	overflow:hidden;
	border-radius:10px 10px 3px 3px;
	width:100%;
	
}



.leaderboard {
	margin:1.5em 0 1.5em 1.5em;
	padding:0;
	overflow:hidden;
	height:auto;
}


ul.leaderboard, ul.lb-row {
	list-style:none;
	display:block;
	overflow:hidden;
	font-size:1.4em;
	width:620px;
	font-family: 'Sue Ellen Francisco', arial, serif;
	padding:0;

}


ul.leaderboard li.row {
	float:left;
	clear:both;
	width: 620px;
	border-bottom:1px dashed #666;
	background:rgba(253,240,194,1.0);
	padding:5px 0;

}

ul.lb-row li {
	float:left;

}
ul.lb-row li.lb-rank, ul.lb-row li.lb-score  {
	font-family: 'Terminal Dosis Light', arial, serif;

}

ul.lb-row li.lb-rank  {
	width:60px;
	height:50px;
	color: rgba(55, 55, 55, 0.5);
	margin:0;
	padding:0;
	
}

ul.lb-row li.lb-name  {
	font-family: 'Sue Ellen Francisco', arial, serif;
	min-width:300px;
	font-weight:600;
	letter-spacing:.08em;
	text-transform:uppercase;
	font-size:.8em;
	margin-top:.3em;
}


ul.lb-row li.lb-score {
	float:right;
	color:#FF3300;
	text-shadow: 1px -1px 2px rgba(40, 40, 40, 0.1);
	letter-spacing:-.06em;
	margin:0px 10px 0 0;

}

.more {
	width:90px;
	height:40px;
	display:block;
	background:transparent url(../images/arrow-down-right.png) bottom right no-repeat;
	text-align:left;
	float:right;
	font-size:1.7em;
	font-variant:small-caps;
	font-family: 'Sue Ellen Francisco', arial, serif;
	color:#ff2222;
	margin: 0 10px 0 0;
	display:none;

}



.sticky {
	display:none;
	position: relative;
	background-color: #F4F39E;
	border-color: #DEE184;
	text-align: center;
	width:200px;
	margin: 1.5em auto;
	padding: 2em .25em;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	font-size:1.8em;
	text-transform:uppercase;
	font-family: 'Sue Ellen Francisco', 'Comic Sans', arial, serif;
}

.sticky:after {
	display: block;
	content: "";
	position: absolute; 
	width: 151px;
	height: 35px;
	top: -21px;
	left: 25px;    
	background: transparent url('../../static/images/tape.png') 0 0 no-repeat;
}
.sticky .loading{
	height:24px;
	width:24px;
	margin:5px 5px 0 0;
}



.share {
	position: relative;
	width: 90px;
	height: 200px;
	overflow:hidden;
	float:right;
	margin:-160px 0 0 0;
}

.share a { 
	background: url(../../static/images/sprite-social-icons.png) no-repeat top left;
	width: 40px; 
	height: 40px;
	display: block;
	content:'';
	float:left;
	
}
.share a[title="delicious"] { background-position: 0 0;} 
.share a[title="facebook"] { background-position: 0 -50px;} 
.share a[title="google"] { background-position: 0 -100px;} 
.share a[title="linkedin"] { background-position: 0 -150px;} 
.share a[title="reddit"] { background-position: 0 -200px;} 
.share a[title="technorati"] { background-position: 0 -250px;} 
.share a[title="twitter"] { background-position: 0 -300px;} 
.share a[title="yahoo"] { background-position: 0 -350px;} 

.lines {
	content:'';
	display:block;
	width:100%;
	border-top:1px inset rgba(253,240,194,0.1);
	border-bottom:2px inset rgba(255,255,255,0.3);
	margin:10px 0;
}

.clear {
	content:'';
	clear:both;
	height:10px;

}
