<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="../../static/css/blueprint-reset.css" rel="stylesheet" media="screen" />
<link href="../../static/css/score.css" rel="stylesheet" media="screen" />

</head>

<body>
<div class="header">
	<ul class="top-menu">
    	<li>Sample Text</li>
        <li><a href="link">Sample Link</a></li>
    </ul>
</div>

<div class="content">

</div>




</body>
</html>
